<app-index></app-index>
<div class="about-section" style="margin-top: 7%;">
    <h1>ABOUT US</h1>
  </div>

<div class="main-text">
    <p>

        </p>
</div>

  <h2 style="text-align:center">OUR TEAM</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://media.istockphoto.com/photos/female-doctor-talking-with-patient-provide-help-distantly-through-picture-id1182259798?k=20&m=1182259798&s=612x612&w=0&h=YFAdeZ-CVUJt4p-slZ8Et4cwKOFHmoyY0QN_bk7xeBk=" alt="Aayush" style="width:100%" class="images">
        <div class="container">
          <h2>oumayma</h2>
          <p>oumayma@gmail.com.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRriLrsoTRyesVh-jcVJELjOo0_4fExtWvcWxRS2Rqe3lreNC1Dz-rM6vwLepeRp-6giXk&usqp=CAU" alt="Shipra" style="width:100%" class="images">
            <div class="container">
                <h2>Houria</h2>
                <p>Houria@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://resize.prod.docfr.doc-media.fr/rcrop/650,380,center-middle/img/var/doctissimo/storage/images/fr/www/sante/maladies-cardiovasculaires/syncope/syncope-preparer-visite-medecin/258879-2-fre-FR/syncope-preparer-visite-medecin.jpg" alt="Rashi" style="width:100%" class="images">
        <div class="container">
          <h2>houda</h2>
          <p>houda@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk14ZDuDNxwBJw4JFw1svJ-vYk3EnD6tNUVEIHYfP5BG3-7y3DS5Kzcf8eQJOnNKD78Bw&usqp=CAU" alt="Anirudh" style="width:100%" class="images">
          <div class="container">
            <h2>Ahmed</h2>
            <p>Ahmed@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

  </div>
