/* .image{
    height:40em; background-size:cover; width:auto;
    background-image:url('../../../../assets/Image/home.jpeg');
    background-position:50% 50%;
    position: relative;
} */

.item img{
  width:1280 px;
    height: 1920 px;
    z-index:1;
}
